*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif
}

body {
  background: #1F2937;
}

/* body {
  background-color: #192841;
  background-image: linear-gradient(#203354 2px, transparent 2px), linear-gradient(90deg, #203354 2px, transparent 2px), linear-gradient(#203354 1px, transparent 1px), linear-gradient(90deg, #203354 1px, #192841 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
} */

/* .container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(180deg, rgba(139, 198, 236, 0) 0%, #03193d 95%, #011029 100%);
} */

.search{
  display: flex;
  width: 75%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 25px 0;
}

.search > *{
  padding: 7px;
  border: none;
  outline: none;
  border-radius: 7px;
}

.search input{
  width: 80%;
  border: 1px solid #ccc;
}

.search button{
  width: calc(20% - 10px);
  cursor: pointer;
}

main{
  width: 75%;
  margin: 0 auto;
}

.found div{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
  font-weight: 600;
}

.found span{
  color: #fff;
  font-weight: 600;
}

img{
  display: flex;
  margin: 0 auto;
}

.not_found{
  color: #fff;
  text-align: center;
}